@model IEnumerable<PFD_Assignment.Models.Post>




<div>
    @using (Html.BeginForm("Index","Guide",FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <span><b></b>Search By:</span>
                    @Html.RadioButton("searchBy","PostTitle",true)
                    <text>Title</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue",null, new{Class="form-control",placeholder="Enter Guide Title"})
                </td>

                <td>
                    <input type="submit" value="Search" class=" btn btn-success"/>
                </td>
            </tr>
        </table>
    }
</div>
<br />
<a href="#" id="sort-newest">Sort Newest to Oldest</a> |
<a href="#" id="sort-oldest">Sort Oldest to Newest</a>



@if (Model.ToList().Count > 0)
{
		<div class="table-responsive">
		<table id="viewPost" class="table table-striped table-bordered">
		<thead class="table-dark">
		<tr>
		<th>Post ID</th>
		<th>Title</th>
		<th>Post Description</th>
		<th>Post Content</th>
		<th>Upvote</th>
		<th>Downvote</th>
		<th>Date of Post</th>
		<th>MemberID</th>
		<th></th>
		</tr>
		</thead>
		<tbody>
				@foreach (var item in Model)
				{
				<tr>
						<td>@item.PostID.ToString()</td>
						<td>@item.PostTitle.ToString()</td>
						<td>@item.PostDesc.ToString()</td>
						<td>@item.PostContent.ToString()</td>
						<td>@item.Upvote.ToString()</td>
						<td>@item.Downvote.ToString()</td>
						<td>@item.DateofPost.ToString()</td>
						<td>@item.MemberID.ToString()</td>

				
				
				</tr>
				}
		</tbody>
		</table>
		</div>
}
else
{
		<span style="color:red">No record found!</span>
}

<section class="scripts">
<script src="~/js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</section>

 