@model IEnumerable<PFD_Assignment.Models.PostViewModel>


<!-- Featured Posts -->
@if (Model.ToList().Count > 0)
{
    <div class="guidecontent" id="guidecontent2">
        <h2 class="PageTitle" style="font-weight:bold; font-size:60px">Featured Posts</h2>
        @foreach (var item in Model.Take(3))
        {
            <div class="featuredguide" id="featuredguide2" data-date="@item.DateofPost.ToString()">
                <div>
                    <p class="guideUser">
                        <b> @item.Username.ToString() </b>| @item.DateofPost.ToString()
                    </p>
                    <p class="guidePara">
                        Title: @item.PostTitle.ToString()
                    </p>
                    <p class="guidePara">
                        Description: @item.PostDesc.ToString()
                    </p>
                </div>
                
                  
                <div class="guidebuttonposition" id="guidebuttonposition2">
                    <a asp-action="GuideDetails" asp-controller="Guide" asp-route-id="@item.PostID">
                        <button class="guideButton" id="guideButton">
                            View
                        </button>
                    </a>
                    <div class="guidebuttonposition">
                        Upvotes: @item.Upvote.ToString() |
                        Downvotes: @item.Downvote.ToString()
                    </div>
                </div>
                
            </div>
        }
        <hr class="solid" />
    </div>
}





<h2 class="PageTitle" style="font-weight:bold; font-size:60px">Guides</h2>

<!-- All Posts -->
@if (Model.ToList().Count > 0)
{
    <div class="guidecontent" id="guidecontent">
        @foreach (var item in Model.Skip(3))
        {
            <div class="guides" id="guides" data-date="@item.DateofPost.ToString()" data-likes="@item.Upvote">
                <div>
                    <p class="guideUser">
                        <b> @item.Username.ToString() </b>| @item.DateofPost.ToString()
                    </p>
                    <p class="guidePara">
                        Title: @item.PostTitle.ToString()
                    </p>
                    <p class="guidePara">
                        Description: @item.PostDesc.ToString()
                    </p>
                    
                </div>

                <div class="guidebuttonposition" id="guidebuttonposition">
                    <a asp-action="GuideDetails" asp-controller="Guide" asp-route-id="@item.PostID">
                        <button class="guideButton" id="guideButton">
                            View
                        </button>
                    </a>
                    <p class="guidebuttonposition">
                        Upvotes: @item.Upvote.ToString() |
                        Downvotes: @item.Downvote.ToString()
                    </p>
                </div>
            </div>

        }
    </div>
}
else
{
    <span style="color: black;font-size: 50px; font-weight: bold;">No guides found!</span>
}
 