@model IEnumerable<PFD_Assignment.Models.PostViewModel>

<div>
    @using (Html.BeginForm("Index","Guide",FormMethod.Post))
    {
        <table id="Post">
            <tr>
                <td>
                    <span><b></b>Search By:</span>
                    @Html.RadioButton("searchBy","PostTitle",true)
                    <text>Title</text>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBox("searchValue",null, new{Class="form-control",placeholder="Enter Guide Title"})
                </td>

                <td>
                    <input type="submit" value="Search" class=" btn btn-success"/>
                </td>
            </tr>
        </table>
    }
</div>
<br />
<a href="#" id="sort-newest">Sort Newest to Oldest</a> |
<a href="#" id="sort-oldest">Sort Oldest to Newest</a>



@if (Model.ToList().Count > 0)
{
    <div class="guidecontent" id="guidecontent">
        @foreach (var item in Model)
        {
            <div class="guides" id="guides" data-date="@item.DateofPost.ToString()">
                <div>
                    <p class="guideUser">
                        <b> @item.Username.ToString() </b>| @item.DateofPost.ToString()
                    </p>
                    <p class="guidePara">
                        Title: @item.PostTitle.ToString()
                    </p>
                    <p class="guidePara">
                        Description: @item.PostDesc.ToString()
                    </p>
                    <p class="guideVotes">
                        Upvotes: @item.Upvote.ToString() |
                        Downvotes: @item.Downvote.ToString()
                    </p>
                </div>

                <div class="guidebuttonposition" id="guidebuttonposition">
                    <a asp-action="GuideDetails" asp-controller="Guide" asp-route-id="@item.PostID">
                        <button class="guideButton" id="guideButton">
                            View
                        </button>
                    </a>
                </div>
            </div>

        }
    </div>
}
else
{
		<span style="color:red">No record found!</span>
}
 