@model IEnumerable<PFD_Assignment.Models.PostViewModel>

@{
    ViewData["Title"] = "Index";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="row">
    <div class="col-sm-3">
        <div class="position-sticky" style="position: sticky;top:0px;">
        <h2 hidden>Guides</h2>
        <h2 style="padding-left: 10px;">Create a guide</h2>
        <hr style="border-top: dotted 2px; margin-left: 10px;" />
        <a asp-action="Create" class="createguide-button">Create New Guide</a>
        <hr style="border-top: dotted 2px; margin-left: 10px;" />
        <h2 style="padding-left: 10px;">Filter</h2>
        <hr style="border-top: dotted 2px; margin-left: 10px;" />

        <div class="searchbarguide">
            @using (Html.BeginForm("Index", "Guide", FormMethod.Post))
            {
                <table id="Post">
                    <tr>
                        <td>
                            <span><b></b>Search By:</span>
                            @Html.RadioButton("searchBy", "PostTitle", true)
                            <text>Title</text>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBox("searchValue", null, new { Class = "form-control", placeholder = "Enter Guide Title" })
                        </td>

                        <td>
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
            }
        </div> 
        
        </br> 

        <button type="button" class="btn btn-default btn-lg btn-block " style="width: 100%; " href="#" id="sort-newest">
            Sort Newest to Oldest
        </button>

        <button type="button" class="btn btn-default btn-lg btn-block" style="width: 100%; " href="#" id="sort-oldest">
            Sort Oldest to Newest
        </button>

        <button type="button" class="btn btn-default btn-lg btn-block" style="width: 100%; " href="#" id="sort-mostliked">
            Sort Most to Least Liked
        </button>
        </div>

        

    </div>
    
    <div class="col-sm-9">
 
        <partial name="~/Views/Guide/_ViewGuides.cshtml" model="@Model" /> 

    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}

@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}
