@model IEnumerable<PFD_Assignment.Models.Announcements>

@{
    ViewData["Title"] = "_ViewAnnouncements";
}

<p><a asp-controller="Admin" asp-action="CreateAnnounce">Create an Announcement</a></p>

@if (Model.Count() > 0)
{
    <div class="guidecontent" id="guidecontent">
        @foreach (var item in Model)
        {
            <div class="guides" id="guides">
                <div>
                    <p class="announcePara">
                        <b> @item.AnnouncementTitle.ToString()</b>
                    </p>
                    <p class="announcePara">
                        @item.AnnouncementContent.ToString()
                    </p>
                    <p class="announcePara">
                        @item.DateofAnnouncement.ToString()
                    </p>
                </div>

                <div class="guidebuttonposition" id="guidebuttonposition">
                    <form asp-action="Delete" asp-controller="Admin" method="post" style="display: inline;">
                        <input type="hidden" name="AnnouncementID" value="@item.AnnouncementID" />
                        <button type="submit" class="guideButton" id="deleteGuideButton" style="color: red">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        }
    </div>
}
else
{
    <span style="color: black; font-size: 20px; font-weight: bold;">No announcements found!</span>
}


@if (TempData["updateMessage"] != null)
{
    <script>
        alert('@TempData["updateMessage"]');
    </script>
}

<style>
    .announcePara {
        font-size: 16px;
        letter-spacing: 0.01cm;
    }
</style>