@model PFD_Assignment.Models.PostIndexViewModel

<div class="container">
    <br />
    <form action="@Url.Action("PinGuide", "Admin")" method="get">
        <div class="search-container">
            <input type="text" placeholder="Search..." name="searchValue" required>
            <input type="hidden" name="searchBy" value="PostTitle" />
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <br />

    @if (Model.FeaturedPosts != null && Model.FeaturedPosts.Count > 0)
    {
        <div class="table-responsive">
            <h2>Featured Posts</h2>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var featuredPost in Model.FeaturedPosts)
                {
                    <tr>
                        <td>@featuredPost.PostTitle</td>
                        <td>@featuredPost.PostContent</td>
                        <td>@featuredPost.Upvote</td>
                        <td>@featuredPost.Downvote</td>
                        <td>
                            <a asp-action="GuideDetails" asp-controller="Guide" asp-route-id="@featuredPost.PostID">Details</a> |
                            <a href="#" data-toggle="modal" data-target="#deleteConfirmationModal" data-featured-post-id="@featuredPost.FeaturedPostID" class="deleteButton">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <hr class="solid" />
    }


    <!-- Regular Posts -->
    @if (Model.Posts != null && Model.Posts.Count > 0)
    {
        <div class="table-responsive">
            <h2>All Posts</h2>
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>@post.PostTitle</td>
                        <td>@post.PostContent</td>
                        <td>@post.Upvote</td>
                        <td>@post.Downvote</td>
                        <td>
                            <a asp-action="GuideDetails" asp-controller="Guide" asp-route-id="@post.PostID">Details</a> |
                            <a href="#" data-toggle="modal" data-target="#pinConfirmationModal" data-post-id="@post.PostID" class="pinButton">Pin</a>|
                            <a href="#" data-toggle="modal" data-target="#deleteConfirmationModal" data-delete-post-id="@post.PostID" class="deleteButton">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }


    else
    {
        <span style="color: red; font-weight: bold;">No guides found!</span>
    }

    <!-- Pin Confirmation Modal -->
    <div class="modal fade" id="pinConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="pinConfirmationModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form asp-action="Pin" asp-controller="Admin" method="post">
                    @Html.AntiForgeryToken() <!-- Include anti-forgery token -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="pinModalLongTitle">Pin as Featured Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to pin this as a featured post?
                        <input type="hidden" name="postId" id="modalPostId" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Pin" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete featured Pin Confirmation Modal -->
    <div class="modal fade" id="deletefeaturedConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form asp-action="DeleteFeaturedGuide" asp-controller="Guide" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLongTitle">Remove as Featured Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to remove this as a featured post?
                        <input type="hidden" name="postId" id="featuredPostIdInput" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Pin Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form asp-action="DeleteGuide" asp-controller="Guide" method="post">
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLongTitle">Delete Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this post?
                        <input type="hidden" name="postId" id="deletePostIdInput" value="" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
@if (TempData["updateMessage"] != null)
{
    <script>
        alert('@TempData["updateMessage"]');
    </script>
}


<style>
    .search-container {
        display: flex;
        border: 2px solid #ccc;
        border-radius: 20px;
        overflow: hidden;
    }

    .search-container input[type="text"] {
        border: none;
        padding: 10px;
        margin: 0;
        width: 100%;
        font-size: 16px;
    }

    .search-container button {
        background: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
    }

    .search-container button i {
        font-size: 20px;
    }

    /* Adjust the placeholder color as needed */
    .search-container input::placeholder {
        color: #aaa;
    }

    /* Remove outline on focus */
    .search-container input:focus {
        outline: none;
    }

    .search-container button:focus {
        outline: none;
    }
</style>

<script>
    $(document).ready(function () {
        // Listen for 'click' events on links with the 'pinButton' class
        $('.pinButton').click(function () {
            // Get the 'data-post-id' attribute value of the clicked link
            var postId = $(this).data('post-id');

            // Set the value of the hidden input in the modal
            $('#modalPostId').val(postId);
        });

        $('.deleteButton').click(function () {
            // Get the 'data-featured-post-id' attribute value of the clicked link
            var featuredPostId = $(this).data('featured-post-id');

            // Set the value of the hidden input in the delete modal
            $('#featuredPostIdInput').val(featuredPostId);
        }); 

        $('.deleteButton').click(function () {
            // Get the 'data-featured-post-id' attribute value of the clicked link
            var deletePostId = $(this).data('delete-post-id');

            // Set the value of the hidden input in the delete modal
            $('#deletePostIdInput').val(deletePostId);
        });

    });
</script>
